<div class="bg-white pt-5">
  <div class="suggest flex justify-center items-center">
    <div class="container flex justify-center">
      <div class="w-3/12 font-bold">Tìm kiếm nhiều</div>
      <div class="ml-12 flex flex-wrap gap-x-12 gap-y-4 font-medium">
        <p>thuốc cảm cúm</p>
        <p>thuốc tây</p>
        <p>thực phẩm bảo vệ sức khỏe</p>
        <p>mỹ phẩm</p>
        <p>mặt nạ</p>
        <p>thuốc tránh thai</p>
        <p>chăm sóc cá nhân</p>
        <p>thuốc hạ sốt</p>
        <p>thuốc giảm đau</p>
        <p>dầu gội</p>
        <p>khẩu trang</p>
        <p>sữa tắm</p>
        <p>tẩy trang</p>
        <p>sữa tắm</p>
        <p>thuốc kháng sinh</p>
      </div>
    </div>
  </div>
  <div class="suggest-2 py-5 flex items-center justify-center gap-10 mt-10">
    <div
      class="flex justify-center items-center gap-3 text-white font-bold text-lg uppercase"
    >
      <img src="FOM/src/assets/images/icon-tick.png" alt="cam-ket-chinh-hang" />
      <h3>Cam kết chính hãng</h3>
    </div>
    <div
      class="flex justify-center items-center gap-3 text-white font-bold text-lg uppercase"
    >
      <img src="FOM/src/assets/images/icon-ghn.png" alt="giao-hang-nhanh" />
      <h3>Giao hàng nhanh</h3>
    </div>
    <div
      class="flex justify-center items-center gap-3 text-white font-bold text-lg uppercase"
    >
      <img src="FOM/src/assets/images/icon-ghn.png" alt="giao-hang-nhanh" />
      <h3>Linh động tìm thuốc</h3>
    </div>
    <div
      class="flex justify-center items-center gap-3 text-white font-bold text-lg uppercase"
    >
      <img src="FOM/src/assets/images/icon-ghn.png" alt="giao-hang-nhanh" />
      <h3>Hỗ trợ tư vấn từ dược sĩ</h3>
    </div>
  </div>
  <div class="copyright text-center py-1 font-medium">
    Copyright © 2024 FOM.
  </div>
</div>
