<header class="shadow">
    <div class="headline-1 py-1 flex content-center justify-center">
        <div class="container">
            <div class="grid grid-cols-6 gap-3">
                <div class="col-span-4 text-center font-bold text-sm" style="color: #fae900;">ĐẠI TIỆC ƯU ĐÃI, LÃI NGÀN DEAL KHỦNG KHI TRẢI NGHIỆM LẦN ĐẦU TẠI FOM</div>
                <a href="tel:1900" class="text-white text-center text-sm">CSKH: 1900XXXX</a>
                <a href="#" class="text-white text-center font-bold text-sm">TẢI ỨNG DỤNG</a>
            </div>
        </div>
    </div>

    <div class="headline-2 py-1 flex content-center justify-center mt-3 pb-5">
        <div class="container flex justify-center items-center gap-5">
            <div class="logo">
                <a href="/">
                    <img src="/src/assets/images/logo.png" alt="">
                </a>
            </div>
            <div class="location bg-gray-200 rounded-full flex justify-center items-center text-white py-2 px-4 border-2">
                <img src="/src/assets/images/icon-location.png" class="icon-location"></img>
                <p class="text-sm font-medium">Giao tại: Thừa Thiên Huế</p>
            </div>
            <div class="search col-span-4">
                <div class="relative">
                    <img src="/src/assets/images/icon-search.png" class="icon-search"></img>
                    <input class="truncate ... bg-gray-200 appearance-none border-2 border-gray-200 rounded-full w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-orange-500" id="" type="text" placeholder="Tìm theo tên thuốc, TPCN, Dược mĩ phẩm">
                </div>
            </div>
            <a href="#" class="cart flex justify-center items-center bg-gray-200 rounded-full py-2 px-4 border-2">
                <img src="/src/assets/images/icon-cart.png" alt="Giỏ hàng" class="icon-cart">
                <p class="text-sm font-medium">Giỏ hàng</p>
            </a>
            <div class="account col-span-2 flex justify-center items-center bg-gray-200 rounded-full py-2 px-4 border-2">
                <a href="#" class="login text-sm font-medium">Đăng nhập</a>
                /
                <a href="#" class="register text-sm font-medium">Đăng kí</a>
            </div>
            <a href="#" class="noti">
                <img src="/src/assets/images/icon-noti.png" alt="notification">
            </a>
        </div>
    </div>
</header>